.users-table-container {
    padding: 15px;
}

.users-table-container.cant-see {
    display: none;
}

.users-list {
    border: 1px solid #c9c9c9;
    min-height: 165px;
    text-align: center;
    line-height: 165px
}

.users-list li {
    line-height: 16px;
}